.header{
    background-color :aquamarine;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #e01e41;
    border-width: 2px;
    border-style: solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: black; 
}
.bodyclass{
    overflow: hidden;
    margin-top: 30px;
}
.bodypart1{
    margin-left: 10%;
    width:18rem;
    object-fit: cover;
    color: black;
    float: left;
}
.bodypart2{
    color: yellow;
    margin-left: 500px;
    background-color: #444444;
    width: 62.37%; 
    border: #e01e41;
    border-width: 2.5px; 
    border-style: ridge;
    padding: 10px
}
.bodypart3{
    margin-left: 500px;
    color: yellow;
    background-color: #444444;
    margin-top: 30px;
    width: 62.37%;
    border: #ff00ff; 
    border-style: ridge;
    border-width: 3.5px;
    padding: 10px;
}