.header{
    background-color :aquamarine;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #e01e41;
    border-width: 2px;
    border-style: solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black
}
.bodypart1{
    margin-left: 10%;
    width:18rem;
    object-fit: cover;
    color: black;
}